#errorDiv > p {
    color: #ff0000;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
  }
  
  form {
    margin-bottom: 2em;
  }
  
  form > ion-button {
    margin-top: 2em;
  }
  