<div id="add-component">
    <header id="modal-header">
        <h1 id="modal-title">{{ 'HOME.ADD_INSURANCE_LBL' | translate }}</h1>
    </header>
    <section id="modal-body">
        <div [innerHTML]="this.getInformationTitle(this.insuranceType)" class="text-wrap"></div>
        <mat-divider></mat-divider>
        <div class="img-div">
            <img
                *ngIf="this.getExamplePic() !== ''"
                [src]="this.getExamplePic()" alt="Sample Image for your reference."
                (click)="this.showExampleImg(this.getExamplePic())"
            >
        </div>

        <form [formGroup]="yearFormGroup" id="year1">
            <mat-form-field appearance="outline" id="yearInput1">
                <mat-label>{{ 'ADD.YEAR1_LBL' | translate }}</mat-label>
                <input matInput [formControl]="yearCtrl" type="number">
            </mat-form-field>
        </form>

        <button mat-raised-button class="full-button"
            (click)="takePhoto()"
            *ngIf="customForms == undefined"
            [disabled]="!this.yearFormGroup.valid"
        >
            {{ 'ADD.PHOTO_BTN' | translate}}
        </button>

        <mat-list role="list" *ngIf="customForms == undefined">
            <mat-list-item role = "listitem"  *ngFor="let image of imageAsB64.keys()" class="no-inner-padding" detail="false">
                <mat-label>
                    {{ 'ADD.PHOTO_LBL' | translate: {title: image} }}
                </mat-label>
                <mat-icon (click)="deletePhoto(image)">delete</mat-icon>
            </mat-list-item>
        </mat-list>

        <button mat-raised-button class="full-button"
            (click)="startAbbyy()"
            *ngIf="!(customForms == undefined)"
            [disabled]="!this.yearFormGroup.valid"
        >
            {{ 'ADD.REPEAT_SCAN_BTN' | translate}}
        </button>

        <form *ngIf="this.yearFormGroup.valid && !(customForms == undefined) && (customForms[currentIndex].getFormGroup() == insuranceNumberFormGroup)"
            [formGroup]="insuranceNumberFormGroup"
            id="insuranceNumberForm">
            <mat-form-field appearance="outline" id="insuranceNumberInput">
                <mat-label>{{ 'ADD.INSURANCE_NUMBER_LBL' | translate }}</mat-label>
                <input matInput [formControl]="insuranceNumber" type="text">
            </mat-form-field>
        </form>

        <form *ngIf="this.yearFormGroup.valid && !(customForms == undefined) && (customForms[currentIndex].getFormGroup() == addressFormGroup)"
            [formGroup]="addressFormGroup"
            id="addressForm">
            <mat-list-item role = "listitem" id="titleInput">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.TITLE_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="title" type="text">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="nameInput">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.FULL_NAME_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="name" type="text">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="streetInput">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.STREET_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="street" type="text">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="cityInput">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.CITY_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="city" type="text">
                </mat-form-field>
            </mat-list-item>
        </form>

        <form *ngIf="this.yearFormGroup.valid && !(customForms == undefined) &&
            (customForms[currentIndex].getFormGroup() == pensionInformationFormGroup)"
            [formGroup]="pensionInformationFormGroup"
            id="pensionInformation">
            <mat-list-item role = "listitem" id="occInvalidityInput"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 4">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.OCC_INVALIDITY_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="occInvalidityCtrl" type="number">
                </mat-form-field>
            </mat-list-item>

            <mat-list-item role = "listitem" id="fullRecInput"
                *ngIf="!(customForms == undefined) && (customForms[currentIndex].getType() == 1 ||
                customForms[currentIndex].getType() == 4)">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.FULL_REC_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="fullRecCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="currentPension"
                *ngIf = "!(customForms == undefined) && (customForms[currentIndex].getType() == 1 ||
                        customForms[currentIndex].getType() == 3 ||
                        customForms[currentIndex].getType() == 6)">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.CURRENT_PENSION_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="currentPensionCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="extrapolatedPension"
                *ngIf = "!(customForms == undefined) && (customForms[currentIndex].getType() == 1 ||
                        customForms[currentIndex].getType() == 3)">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.EXTRA_PENSION_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="extrapolatedPensionCtrl" type="number">
                </mat-form-field>
            </mat-list-item>

            <mat-list-item role = "listitem" id="widowPension"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 4">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.WIDOW_PENSION_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="widowPensionCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="lastContributions"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.LAST_CONTRIBUTIONS_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="lastContributionsCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="lastAmortizations"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.LAST_AMORTIZATIONS_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="lastAmortizationsCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="lastReceivedBonus"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.LAST_RECEIVED_BONUS_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="lastReceivedBonusCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="lastRefundedBonus"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.LAST_REFUNDED_BONUS_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="lastRefundedBonusCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="bonuses"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.BONUSES_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="bonusesCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role = "listitem" id="contributions"
                *ngIf="!(customForms == undefined) && customForms[currentIndex].getType() == 6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'ADD.CONTRIBUTIONS_LBL' | translate }}</mat-label>
                    <input matInput [formControl]="contributionsCtrl" type="number">
                </mat-form-field>
            </mat-list-item>
        </form>

        <button mat-raised-button class="full-button" (click)="takeNextPhoto()"
            *ngIf="this.yearFormGroup.valid && !(customForms == undefined) && !(currentIndex == customForms.length - 1)"
            [disabled]="!customForms[currentIndex].getFormGroup().valid || !this.yearFormGroup.valid" expand="block"
            id="nextPhotoBtn">
            {{ 'ADD.NEXT_BTN' | translate}}
        </button>

        <button mat-raised-button class="full-button" (click)="submitInputs()"
            *ngIf="this.yearFormGroup.valid && !(customForms == undefined) && (currentIndex == customForms.length - 1)"
            [disabled]="!customForms[currentIndex].getFormGroup().valid || !this.yearFormGroup.valid" expand="block"
            id="submitBtn">
            {{ 'ADD.SUBMIT_BTN' | translate}}
        </button>

        <button mat-raised-button class="full-button" (click)="submitInputs()"
            *ngIf="this.yearFormGroup.valid && customForms == undefined && this.imageAsB64.size !== 0"
            [disabled]="!this.yearFormGroup.valid"
            expand="block"
            id="submitBtn2">
            {{ 'ADD.SUBMIT_BTN' | translate }}
        </button>

        <button class="help" mat-mini-fab aria-label="save fab button" (click)="showInstructions()">
            <mat-icon>help</mat-icon>
        </button>

    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            {{ 'GENERAL.CANCEL_BTN' | translate }}
        </button>
    </footer>
</div>