<div id="modal-content-wrapper">
    <header id="modal-header">
        <p id="modal-title">{{ data.insuranceType | translate }} {{ 'SEARCH.ALERT_HDR' | translate }}</p>
        <p id="modal-subtitle">{{ 'SEARCH.ALERT_MSG' | translate }}</p>
    </header>
    <section id="modal-body">
        <mat-form-field appearance="outline">
            <mat-label>{{ this.translate.instant('SEARCH.ALERT_INPUT_PLC') }}</mat-label>
            <input matInput [(ngModel)]="insurance.name" type="text" name="insuranceName">
        </mat-form-field>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            {{ 'GENERAL.CANCEL_BTN' | translate }}
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="handle(insurance.name)">
            {{ 'GENERAL.CONFIRM_BTN' | translate }}
        </button>
    </footer>
</div>
 