<mat-toolbar class="p-0 mat-elevation-z1">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/fuse.svg">
                </div>
            </div>
        </div>

        <div fxLayout="row" style="left: 16px; position: fixed;">
            <div class="logo">
                <img [src]="logoUrl">
            </div>
            <div class="title"> {{ 'LOGIN.TITLE' | translate }}</div>
        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">              
            <button mat-icon-button class="navbar-toggle-button" (click) = "navigateURL('/tabs/home')">
                <mat-icon>home</mat-icon>
                <span>{{ 'HOME.TITLE' | translate }}</span>
            </button>

            <button mat-icon-button class="navbar-toggle-button" (click) = "navigateURL('/tabs/gap')">
                <mat-icon>pie_chart</mat-icon>
                <span>{{ 'GAP.TITLE' | translate }}</span>
            </button>

            <button mat-icon-button class="navbar-toggle-button" (click) = "navigateURL('/tabs/playlist')">
                <mat-icon>settings_input_component</mat-icon>
                <span>{{ 'PLAYLIST.TITLE' | translate }}</span>
            </button>

            <button mat-icon-button class="navbar-toggle-button" (click) = "navigateURL('/tabs/profile')">
                <mat-icon>account_circle</mat-icon>
                <span>{{ 'PROFILE.TITLE' | translate }}</span>
            </button>

            <button mat-icon-button class="navbar-toggle-button" (click)="showHelp()">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>

            <button mat-icon-button class="navbar-toggle-button" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>
            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>
            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
