.container {
    // width: 100%;
    width: 100vw;
    
    mat-icon {
        cursor: pointer;
    }

    mat-list-item {
        height: 64px;
        .badge {
            min-width: 88px;
            max-width: 120px;
            text-align: center;
            margin-left: 15px;
            background-color: #00b0f0;
            border-radius: 4px;
            color: white;
            right: 16px;
            font-size: 14px;
            height: 22px;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0 8px;
        }

        mat-icon {
            color: #00b0f0;
            right: 16px;
            font-size: 36px;
            width: 36px;
            height: 36px;
        }

        mat-label {
            h2 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
                margin: 0;
            }
        }
    }

    .example-fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
    }

    canvas {
        width: 80%;
        height: 80%;
    }
}

mat-dialog-container {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
    padding: 0;
}

