<div class="container">

    <mat-list role = "list">
        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-toolbar color="ligit">
                <div>
                    <mat-label class="ion-text-wrap">
                        {{ 'GAP.AGGREGATE_LBL' | translate }}
                    </mat-label>
                </div>
                <div class="example-fill-remaining-space"></div>
                <div style="display: inline-flex;">
                    <div class="badge fixed-width" color="primary">
                        {{ (this.pension == undefined ? 0 : this.pension) | currency:'EUR' }}
                    </div>
                </div>
            </mat-toolbar>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-toolbar color="ligit">
                <div>
                    <mat-label class="ion-text-wrap">
                        <h2>{{ 'GAP.INSURANCE_AGGREGATE_LBL' | translate }}</h2>
                    </mat-label>
                </div>
                <div class="example-fill-remaining-space"></div>
                <div style="display: inline-flex;">
                    <mat-label class="ion-text-wrap">
                        <h2>{{ this.insurancePension | currency:'EUR' }}</h2>
                    </mat-label>
                </div>
            </mat-toolbar>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-toolbar color="ligit">
                <div>
                    <mat-label class="ion-text-wrap">
                        <h2>{{ 'GAP.ASSETS_AGG_LBL' | translate }}</h2>
                    </mat-label>
                </div>
                <div class="example-fill-remaining-space"></div>
                <div style="display: inline-flex;">
                    <mat-label class="ion-text-wrap">
                        <h2>
                            {{ this.capitalPension | currency:'EUR' }}
                        </h2>
                    </mat-label>
                </div>
            </mat-toolbar>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <mat-list role = "list">
        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-toolbar color="ligit">
                <div>
                    <mat-label class="ion-text-wrap">
                        {{ 'GAP.EXPENSES_LBL' | translate }}
                    </mat-label>
                </div>
                <div class="example-fill-remaining-space"></div>
                <div style="display: inline-flex;">
                    <div class="badge fixed-width" color="primary" slot="end">
                        {{ (this.profile == undefined ? 0 : this.profile.expenses) | currency:'EUR' }}
                    </div>
                </div>
            </mat-toolbar>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <mat-list role = "list" *ngIf="(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) >= 0">
        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-label class="ion-text-wrap">
                {{ 'GAP.PENSION_SURPLUS' | translate: {pension_surplus: absolute(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) | currency:'EUR'} }}
            </mat-label>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <mat-list role = "list" *ngIf="(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) < 0">
        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-toolbar color="ligit">
                <div>
                    <mat-label class="ion-text-wrap" *ngIf="(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) < 0">
                        {{ 'PLAYLIST.MISSING_PENSION' | translate }}
                    </mat-label>
                </div>
                <div class="example-fill-remaining-space"></div>
                <div style="display: inline-flex;">
                    <div class="badge fixed-width" color="primary" slot="end">
                        {{ absolute(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) | currency:'EUR' }}
                    </div>
                </div>
            </mat-toolbar>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item role = "listitem" class="no-inner-padding">
            <mat-toolbar color="ligit">
                <div>
                    <mat-label class="ion-text-wrap" *ngIf="(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) < 0">
                        <h2 [innerHTML] = "this.translate.instant('GAP.MISSING_PENSION_PREFIX',{missing_pension: absolute(this.pension - (this.profile == undefined ? 0 : this.profile.expenses)) | currency:'EUR'})"
                        ></h2>
                    </mat-label>
                </div>
                <div class="example-fill-remaining-space"></div>
                <div style="display: inline-flex;">
                </div>
            </mat-toolbar>
        </mat-list-item>
    </mat-list>
    <canvas #barCanvas style="width: 80%;height: 80%;"></canvas>
</div>
