<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="logoUrl">
            </div>

            <div class="title">{{'RESET_PASSWORD.TITLE' | translate}}</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>  {{'GENERAL.MAIL_LBL' | translate}}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        {{ 'GENERAL.EMAIL_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        {{ 'GENERAL.ERROR_VALID_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" (click)="onSubmit()">
                    {{'RESET_PASSWORD.TITLE' | translate}}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">{{ 'LOGIN.TITLE' | translate }}</a>
            </div>

        </div>

    </div>
</div>
